{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <div class="mt-12 py-12 px-8 grid grid-cols-5 gap-4 items-center border border-rose-200 rounded-xl">
        <div class="col-span-2">
            <img src="{% static 'images/header.png' %}">
        </div>

        <div class="col-span-3">
            <h1 class="mb-8 text-3xl">Welcome to app</h1>

            <h2 class="text-lg text-gray-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec accumsan tortor at sem fermentum tempor. Suspendisse vitae augue dolor. Nunc sed eleifend nulla.</h2>
        </div>
    </div>
    {% if request.user.is_authenticated %}
    {% include 'chat/partials/chat_bubble.html' %}
    {% endif %}
{% endblock %}
{% block scripts %}
<script src='{% static 'js/main.js' %}'></script>
{% endblock %}
